Creativa.Web/Connected Services/NorthwindServiceRef/NorthwindService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NorthwindService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:26217/NorthwindService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:26217/NorthwindService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:26217/NorthwindService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Creativa.Data.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INorthwindService_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_GetOrdersByCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersByCustomer" />
  </wsdl:message>
  <wsdl:message name="INorthwindService_GetOrdersByCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersByCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="INorthwindService">
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/INorthwindService/GetCustomers" message="tns:INorthwindService_GetCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INorthwindService/GetCustomersResponse" message="tns:INorthwindService_GetCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrdersByCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/INorthwindService/GetOrdersByCustomer" message="tns:INorthwindService_GetOrdersByCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INorthwindService/GetOrdersByCustomerResponse" message="tns:INorthwindService_GetOrdersByCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INorthwindService" type="tns:INorthwindService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://tempuri.org/INorthwindService/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrdersByCustomer">
      <soap:operation soapAction="http://tempuri.org/INorthwindService/GetOrdersByCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NorthwindService">
    <wsdl:port name="BasicHttpBinding_INorthwindService" binding="tns:BasicHttpBinding_INorthwindService">
      <soap:address location="http://localhost:26217/NorthwindService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>